@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    /* 确保 html 和 body 的高度为 100% */
    width: 100%;
    /* 确保宽度为 100% */
}

.a {
    text-decoration: none;

}

input {
    outline: none;
}